body{
	font-family: helvetica;
}

#opening{
	width:300px;
	text-align: center;
	margin:auto;
	padding:20px;
}

.questions{
	width:650px;
	margin:auto;
	border: 1px solid rgb(215, 212, 190);
	padding: 30px;
	margin-bottom: 30px;
}

.content{
	width:650px;
	margin:auto;
	border: 1px solid rgb(215, 212, 190);
	padding: 30px;
	margin-bottom: 100px;
}

h2{
	color:#31B9C9;
	width: 700px;
	margin: auto;
	margin-bottom: 10px;
}

h1{
	text-align: center;
	width: 300px;
	font-size: 22px;
}

ul{
	-webkit-padding-start: 30px;
	padding-left: 30px;
}

li{
	padding-bottom: 10px;
}

nav ul{
	text-align: center;
	margin: auto;
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
}

nav ul li{
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
}

nav{
	margin-bottom: 30px;
}

